.tab:selected:top{
	-fx-cursor: pointer;
}

.text{
	-fx-font-size: 20px;
}

.text:selected{
	-fx-font-size: 20px;
}

.tab:top{
	-fx-background-color: #182942;
	-fx-cursor: hand;
}

.tab-header-background{
	-fx-background-color: #293a53;
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: #33ffff;
}
/*.jfx-tab-pane .tab-header-area .jfx-rippler{
    -jfx-rippler-fill:#33ffff;
} */
